DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/fanvira"
REDIS_URL="redis://default:PASSWORD@HOST:6379"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
